:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0D0D35;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0 ;
}

html, body{
  height: 100%;
}

body{
  background-image: url(/assets/gradienteCinza.jpg);
  background-size: cover;
  color: var(--liClr);
  display: flex;
  flex-direction: column;

}

header,footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

main{
  flex: 1;
  display: flex;
}

#telaDoJogo{
  border: 10px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  z-index: 1;
  transform: translate(-50%, -50%);
}

#placa{
  display: flex;
  flex-direction: row;
  width: 70%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  top: 0;

}

.tela {
  width: 100%;
  height: 100%;
  background-image: url(/assets/gradienteCinza.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.tela * {
  text-align: center;
  margin-top: 5px;
}

#inicio{ 
  display: flex;
}

#fim{
  display: none;
}

#inicioBTN{
  color: black;
  display: inline-block;
  width: 100px;
  padding: 8px 15px;
  margin: 20px 0;
  text-align: center;
  font-family: inherit;
  border-radius: 10px;
}

#inicioBTN:hover{
  background-color: red;
  cursor:grab;
  border: 1px solid red ;
}

#inicioBTN p {
  margin-top: 0;
}

#reload {
  color: black;
  display: inline-block;
  width: 100px;
  padding: 8px 15px;
  margin: 20px 0;
  text-align: center;
  font-family: inherit;
  border-radius: 10px;
}

